.drawer {
    display: flex;
    /* text-align: center; */
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    padding: 40px;
}

.inputField {
    width: 100%;
    border: 1px solid gray;
    border-radius: 40px;
    outline: none;
    color: gray;
    margin: 0 40px;
}

.videoPlayer {
    border-radius: 20px !important;
    width: 40% !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;
}

.map {
    height: 91.2% !important;
    width: 100% !important;
}

.panel {
    z-index: 5 !important;
    height: 100%;
    width: 20%;
    background-color: black;
}

.Search {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 1%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

ul li a {
    color: black !important;
}

.link {
    padding: 0 10px;
    color: black;
    text-decoration: none;
}

.link:hover {
    color: #dd3f54 !important;
}